body {
  color: white;
  font-family: Roboto;
}

.container {
  max-width: 1140px;
  margin: auto;
}

.header {
  display: flex;
  align-items: center;
  padding-top: 40px;
}

.logo-link {
  display: inline-block;
}

.logo-image {}

.nav {}

.nav-menu {
  display: flex;
  justify-content: ;
}

.nav-menu_item:first-child {
  margin-left: 52px;
}

.nav-menu_item {
  margin-right: 30px;
}

.nav-menu_link {
  text-decoration: none;
  color: white;
  opacity: 0.5;
}

.film-text {}

.film-date {
  display: block;
  padding-top: 80px;
  font-size: 24px;
  line-height: 28px;
  opacity: 0.8;
}

.film-logo {
  margin-top: 38px;
}

.film-description {
  font-size: 16px;
  line-height: 22px;
  opacity: 0.8;
  max-width: 423px;
  margin-top: 41px;
}

.button-group {
  margin-top: 70px;
}

.button {
  padding: 15px 30px;
  border-radius: 5px;
  border: none;
  text-decoration: none;
  cursor: pointer;
}

.button-primary {
  color: #8D0019;
  background-color: white;
}

.button-icon, .button-text {
  display: inline-block;
  vertical-align: middle;
}

.button-text {
  font-size: 14px;
  line-height: 16px;
  margin-left: 10px;
}

.button-link {
  color: white;
}

.venom {
  position: absolute;
  top: 0;
  right: 0;
}

.blood {
  background: url('../img/blood.png') no-repeat top right, #14131A url(../img/background.png) no-repeat center center / 100%;
}